//TODO: basic css reset more complicated is out there. research it.

/*****button to the right styling on title bar*****/


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}
