div.outer_checkemail {
  line-height: 1.2;
  margin: 0;
  // background-color: lightblue;
}
header.checkemail {
  margin-left: 100px;
}

div.checkemail {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: left;
  width: 100%;
}

h3.checkemail {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

p.checkemail {
  margin: 0 auto;
  padding-bottom: 30px;

}

footer.checkemail {
  margin-left: 100px;
}



