div.outer_forgotpassword {
  line-height: 1.2;
  margin: 0;
 // background-color: lightblue;
}
header.forgotpassword {
  margin-left: 100px;
}

div.forgotpassword {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: left;
  width: 100%;
}

h3.forgotpassword {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

p.forgotpassword {
  margin: 0 auto;
  padding-bottom: 30px;

}

input.forgotpassword {
  display: block;
}

footer.forgotpassword {
  margin-left: 100px;
}

