div.outer {
  line-height: 1.2;
  margin: 0;
}

div.html {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

div.body {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}



h3.nomatch {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

p.nomatch {
  margin: 0 auto;
  width: 280px;
}

@media only screen and (max-width: 280px) {
  div.forgotpassword, p.forgotpassword {
    width: 95%;
  }

  h1.forgotpassword {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }
}