.resetpassword__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header.resetpassword {
    //background-color: green;
    display: flex;
    height: 50px;
}

footer.resetpassword {
    //background-color:pink;
    height: 50px;
}

section.resetpassword {
    display: block;
    //background-color: lightblue;
    display: inline-flex;
    padding-left: 100px;
    padding-right: 100px;
}

